$brand-color-arches-red: #de5851;
$brand-color-white-sands: #fffdec;
$brand-color-saguaro-green: #4bb4a3;
$brand-color-acadia-green: #04837A;
$brand-color-glacier-blue: #00b0c2;
$brand-color-blue-spring: #003a73;
$brand-color-big-bend-blue: #07074b;
