.site-footer-trim {
  background: url('../_img/footer-trim.svg');
  height: 25px;
  margin-top: -25px;
  width: 100%;
}

.site-footer {
  background-color: $big-bend-blue;
  color: $white-sands;
  margin-top: -1px;
  padding: var(--acc-spacing-5) var(--acc-spacing-4) var(--acc-spacing-6);

  &__container {
    display: flex;
    flex-direction: column;
    font-family: $fontstack-mundial;
    justify-content: center;

    @include breakpoint(large) {
      flex-direction: row;
      margin: 0 auto;
      max-width: 1140px;
    }
  }

  a {
    font-weight: 600;

    &:hover {
      text-decoration: none;
    }
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    margin-bottom: var(--acc-spacing-7);

    @include breakpoint(large) {
      margin-right: var(--acc-spacing-7);
      margin-bottom: 0;
    }

    &-links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a {
        color: $arches-red;
        @include acc-font-size('fs-2');
      }
    }
  }

  &__logo {
    height: 150px;
    width: 150px;

    @include breakpoint(large) {
      margin-right: 3.5rem;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    a {
      color: $white-sands;
    }

    &-links {
      margin-bottom: var(--acc-spacing-4);
      color: $white-sands;

      span {
        color: $white-sands;
        margin: 0 .25rem 0 0;
      }

      @include breakpoint(large) {
        margin-bottom: 0;
      }
    }
  }

  &__cc {
    p {
      margin: var(--acc-spacing-1) 0 0;
      @include acc-font-size('fs-1');
      font-style: italic;
      color: $white-sands;
    }
  }
}
