<div class="site-footer-trim"></div>
<footer class="usa-footer site-footer" role="contentinfo">
  <div class="site-footer__container">
    <div class="site-footer__top">
      {% comment %}
      {% image_with_class "_img/partner-logos/.png" "site-footer__logo" "Alt text here" %}
      {% endcomment %}
      <!-- <div class="site-footer__top-links">
        <a href="{% link '/search/' %}">Search exclusions</a>
      </div> -->
    </div>
    <div class="site-footer__bottom">
      <div class="site-footer__cc">
        <p>This is a prototype and not intended for use with the NEPA permitting process.</p>
      </div>
    </div>
  </div>
</footer>
