<div class="cs-details__waves"></div>
<section class="cs-details">
  <div class="col-one">
    <p>The American Climate Corps will create pathways to good-paying clean energy, conservation, and climate resilience careers, in the public and private sectors.</p>
  </div>
  <div class="col-two">
    <p>We'll mobilize a diverse generation of more than 20,000 Americans in service and job training opportunities to:</p>
    <ul>
      <li>Conserve and restore our public lands and waters</li>
      <li>Bolster community resilience</li>
      <li>Deploy clean energy</li>
      <li>Implement energy efficient technologies</li>
      <li>Advance environmental justice</li>
    </ul>
  </div>
</section>
