<section class="cs-hero">
    {% cs_hero %}
  <div class="cs-hero__content">
    <div class="cs-hero__logo">
      {% image "_img/icons/logo-with-wave-small.svg" "American Cliamte Corps Logo" %}
    </div>
    <div class="cs-hero__text">
      <h1>Ready to get to work?</h1>
      <p>Stay in touch! We'll email you when opportunities become available to launch your climate career.</p>
      <a class="usa-button" href="https://www.whitehouse.gov/climatecorps/">
        Sign up for updates
        {% image_with_class "_img/icons/ext-link-sands.svg" "ext-link" "External link icon" %}
      </a>
    </div>
  </div>
</section>
