<section class="cs-image-quote">
  <div class="cs-image-quote__image-container">
    {% image "_img/biden.jpg" "President Biden giving a speech" %}
  </div>
  <div class="cs-image-quote__content">
    <p class="cs-image-quote__quote">"This is a case where conscience and convenience cross paths, where dealing with this existential threat to the planet and increasing our economic growth and prosperity are one in the same. When I think of climate change... I think of jobs."</p>
    <div class="cs-image-quote__attribution">
      {% image_with_class  "_img/icons/star-icon.svg" "cs-image-quote__star-icon" "" %}
      <div>
        <p class="cs-image-quote__author">President Joe Biden</p>
        <p class="cs-image-quote__details">Before signing <a href="https://www.whitehouse.gov/briefing-room/speeches-remarks/2021/01/27/remarks-by-president-biden-before-signing-executive-actions-on-tackling-climate-change-creating-jobs-and-restoring-scientific-integrity/">Executive Actions on Tackling Climate Change, Creating Jobs, and Restoring Scientific Integrity {% image_with_class "_img/icons/ext-link-green.svg" "ext-link" "External link icon" %}</a> (Jan. 27, 2021)</p>
        <p class="cs-image-quote__details">Photo by Werner Slocum / NREL</p>
      </div>
    </div>
  </div>
</section>
