<section class="cs-learn-more">
  <div class="cs-learn-more__heading">
    {% image "_img/icons/arrow-icon.svg" "arrow icon" %}
    <h2>Learn more</h2>
  </div>
  <ul class="cs-learn-more__list">
    <li class="cs-learn-more__list-item">
      <a href="https://www.whitehouse.gov/briefing-room/statements-releases/2023/09/20/fact-sheet-biden-harris-administration-launches-american-climate-corps-to-train-young-people-in-clean-energy-conservation-and-climate-resilience-skills-create-good-paying-jobs-and-tackle-the-clima/">
        White House fact sheet on the American Climate Corps
        {% image_with_class "_img/icons/ext-link-green.svg" "ext-link" "External link icon" %}
      </a>
    </li>
    <li class="cs-learn-more__list-item">
      <a href="https://www.whitehouse.gov/briefing-room/statements-releases/2023/12/19/fact-sheet-biden-harris-administration-announces-american-climate-corps-listening-sessions-new-actions-to-mobilize-the-next-generation-of-clean-energy-conservation-and-resilience-workers/">
        How the Biden-Harris administration is preparing to mobilize the next generation of clean energy, conservation, and resilience workers
        {% image_with_class "_img/icons/ext-link-green.svg" "ext-link" "External link icon" %}
      </a>
    </li>
  </ul>
</section>
