<section class="cs-logos">
  {% image "_img/partner-logos/americorps.svg" "AmericCorps Logo" %}
  {% image "_img/partner-logos/usda.svg" "USDA Logo" %}
  {% image "_img/partner-logos/doc.svg" "Department of Commerce Logo" %}
  {% image "_img/partner-logos/doe.svg" "Department of Energy Logo" %}
  {% image "_img/partner-logos/doi.svg" "Department of Interior Logo" %}
  {% image "_img/partner-logos/dol.svg" "Department of labor Logo" %}
  {% image "_img/partner-logos/epa.svg" "EPA Logo" %}
  {% image "_img/partner-logos/wh.svg" "White House Logo" %}
</section>
