{% comment %}
You shouldn't have to edit this page very often. But if you want
to modify some of the meta-data for the site, this is the place to do it.
{% endcomment %}

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex, nofollow" />
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Title and meta description
    ================================================== -->
  <title>American Climate Corps</title>
  <meta property="og:title" content="American Climate Corps" />
  <meta name="description" content="Join the next generation of creators, thinkers, leaders, and doers, working together to tackle the climate crisis. Help build a clean energy and climate-resilient future in your own community and across the nation." />
  <meta property="og:description" content="Join the next generation of creators, thinkers, leaders, and doers, working together to tackle the climate crisis. Help build a clean energy and climate-resilient future in your own community and across the nation." />

  <meta property="og:type" content="article" />
  <link rel="canonical" href="{{ page.url }}" />
  <meta property="og:url" content="{{ page.url }}" />
  <script async="" src="{{ assetPaths['uswds.js'] }} "></script>

  <!-- Add favicons 
    ================================================== -->
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="android-chrome-192x192" sizes="180x180" href="android-chrome-192x192.png">
  <link rel="android-chrome-512x512" sizes="180x180" href="android-chrome-512x512.png">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">

  <!-- CSS
    ================================================== -->
    <link rel="preload" as="style" href="{{ assetPaths['styles.css'] }}" />
    <link rel="stylesheet" href="{{ assetPaths['styles.css'] }}" type="text/css" />
    <link rel="stylesheet" href="https://use.typekit.net/tnv4gvy.css" />
</head>
