<section class="home-hero-block">
  <div class="home-hero-block__container">
    <div class="home-hero-block__primary-text">
      {% image "_img/icons/bullet-point-sands.svg" "" %}
      <h1>Council on Environmental Quality</h1>
      <p>A categorical exclusion (CE) is a class of actions that a Federal agency has determined, after review by CEQ,
        do not individually or cumulatively have a significant effect on the human environment and for which, therefore,
        neither an environmental assessment nor an environmental impact statement is normally required. The use of
        categorical exclusions can reduce paperwork and save time and resources.</p>
      <a href="{% link '/search/' %}" class="usa-button">Search exclusions</a>
    </div>
    {% comment %}
    {% image_with_class "_img/hero-.svg" "-illustration" "Alt text." %}
    {% endcomment %}
  </div>
</section>
<div class="home-hero-wave-divider">
</div>
<section class="home-hero-details-block">
  <div class="home-hero-details-block__content">
    <p class="home-hero-details-block__excerpt">Congress enacted the National Environmental Policy Act (NEPA) in 1969
      and President Nixon signed it into law on January 1, 1970. Congress enacted NEPA to establish a national policy
      for the environment, provide for the establishment of the Council on Environmental Quality (CEQ), and for other
      purposes. NEPA was the first major environmental law in the United States and is often called the "Magna Carta" of
      Federal environmental laws. NEPA requires Federal agencies to assess the environmental effects of proposed major
      Federal actions prior to making decisions.</p>
  </div>
</section>
