<section class="icons-block">
  {% image "_img/icons/mountain.svg" "tree and mountain, representing public lands and waters" %}
  {% image "_img/icons/windmill.svg" "windmill, representing clean energy" %}
  {% image "_img/icons/community.svg" "pattern representing community resilience" %}
  {% image "_img/icons/capacity.svg" "hands clasped tp represent capacity building" %}
  {% image "_img/icons/urban.svg" "buildings, representing urban areas" %}
  {% image "_img/icons/agriculture.svg" "apple and beanstalk, representing food systems" %}
</section>
