<section class="body-content usa-section search-block">
  <div class="search-block__content-wrapper">
    <div class="search-block__content-wrapper__search-wrapper">
      <div class="search-block__content-wrapper__form-wrapper">
        <form action="get" id="search-form">
          <div>
            <label for="search-input">Search categorical exclusions</label>
            <input class="usa-input" aria-label="Search Input" type="text" name="q" id="search-input">
          </div>
          <div>
            <button class="usa-button" type="submit" value="Search">Search</button>
          </div>
        </form>
        <p class="tip"><a href="{% link '/search-tips/' %}">View search tips</a></p> <!-- add link -->
      </div>
    </div>
  </div>
</section>
