<section class="body-content usa-section sort-block">
  <div class="sort-block__content-wrapper">

    {% include 'components/filter.html' %}

    <!-- <div class="sort-container">
      <label class="" for="sort-results">Sort by</label>
      <form class="usa-form">
        <select id="sort-results" class="usa-select" name="sort-results">
          {% for options in dropdowns.sortby %}
          <option value="{{ options.value }}">{{ options.name }}</option>
          {% endfor %}
        </select>
      </form>
    </div> -->


  </div>
</section>
