---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {% set absoluteUrl %}{{ page.url | url | absoluteUrl }}{% endset %}
  <url>
    <loc>{{ baseUrl }}{{ absoluteUrl }}</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>
{%- endfor %}
{%- for opportunity in opportunities %}
  {% set absoluteUrl %}{{ page.url | url | absoluteUrl }}{% endset %}
  {% if opportunity.app_end_date | activeOp %}
    <url>
      <loc>{{ baseUrl }}/opportunities/{{ opportunity.title | slugify }}-{{ opportunity.id }}.html</loc>
      <lastmod>{{ page.date | htmlDateString }}</lastmod>
      <changefreq>weekly</changefreq>
      <priority>0.5</priority>
    </url>
  {% else %}
{% endif %}
{%- endfor %}
</urlset>