// Colors
$arches-red: #de5851;
$arches-red-dark: #bf4640;
$white-sands: #fffdec;
$white-sands-dark: #f0eedb;
$saguaro-green: #4bb4a3;
$acadia-green : #04837a;
$acadia-green-dark : #04716a;
$glacier-blue : #00b0c2;
$blue-spring : #003a73;
$big-bend-blue : #07074b;
$big-bend-blue-dark : #1a1a28;

// Typefaces
$fontstack-fairweather: 'Fairweather', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$fontstack-mundial: 'Mundial', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

// Padding <— Largely deprecated, don't use moving forward
$acc-padding-small: 1.5rem;
$acc-padding-large: 9.375rem;

// Images
$icon_ext-link-sands: '../_img/icons/ext-link-sands.svg';
$icon_ext-link-green: '../_img/icons/ext-link-green.svg';
$single-turquoise-wave: '../_img/single-turquiose-wave.svg';
$hero-divider: '../_img/hero/hero_divider.png';
$sand-texture: '../_img/sand-texture.jpg';
$bullet_point_white_sands: '../_img/icons/bullet_point_white_sands.svg';
$star-icon-bullet: '../_img/icons/bullet-star-icon.svg';
