@use 'uswds-core' as * with (
  $theme-show-notifications: false,
  $theme-font-path: '../node_modules/@uswds/uswds/dist/fonts',
  $theme-image-path: '../node_modules/@uswds/uswds/dist/img',
  $theme-hero-image: '../_img/hero.png'
);

@forward 'uswds-core';
@forward 'uswds-global';        //Dependencies: normalize, uswds-core, uswds-elements, uswds-fonts, uswds-helpers
@forward 'uswds-helpers';       //Dependencies: sr-only, usa-focus
@forward 'uswds-utilities';     //Dependencies: none
@forward 'usa-header';          //Dependencies: usa-accordion, usa-button, usa-nav, usa-search, usa-skipnav, uswds-fonts, uswds-helpers
@forward 'usa-accordion';       //Dependencies: usa-icon, uswds-fonts
@forward 'usa-button';          //Dependencies: uswds-fonts
@forward 'usa-nav';             //Dependencies: usa-accordion, usa-icon, usa-search, uswds-fonts
@forward 'usa-skipnav';         //Dependencies: uswds-fonts
@forward 'usa-icon';            //Dependencies: uswds-core
@forward 'usa-banner';          //Denpendencies: usa-media-block, uswds-fonts
@forward 'usa-collection';      //Dependencies: uswds-fonts
@forward 'usa-dark-background'; //Dependencies: uswds-core
@forward 'usa-layout-grid';     //Dependencies: uswds-core
@forward 'usa-list';            //Dependencies: none
@forward 'usa-media-block';     //Dependencies: none
@forward 'usa-prose';           //Dependencies: uswds-fonts
@forward 'usa-search';          //Dependencies: usa-button, usa-icon, usa-input, uswds-fonts, uswds-helpers
@forward 'usa-section';         //Dependencies: uswds-core
@forward 'usa-form';            //Dependencies: uswds-fonts
@forward 'usa-select';          //Dependencies: usa-icon, usa-input, uswds-fonts
@forward 'usa-card';            //Dependencies: uswds-fonts
@forward 'usa-collection';      //Dependencies: uswds-fonts
@forward 'usa-pagination';      //Dependencies: uswds-fonts
@forward 'usa-tooltip';
@forward 'usa-alert';           //Denpendencies: none






/*-----------------------------------------------------------------------------
Custom Styles
-----------------------------------------------------------------------------*/

@import 'modules/_variables';
@import 'modules/_functions';
@import 'modules/_mixins';

@import 'modules/_css-variables';

@import 'modules/_global';

@import 'modules/components/_footer';
@import 'modules/components/_header';
@import 'modules/components/_hero';
@import 'modules/components/_home-hero';
@import 'modules/components/_icons';
@import 'modules/components/_quote';
@import 'modules/components/_banner-cta';
@import 'modules/components/_search';
@import 'modules/components/_filter';
@import 'modules/components/_sort';
@import 'modules/components/_result';
@import 'modules/components/_banner-block';
@import 'modules/components/_tooltip';

@import '404';
@import "opportunity";
@import "static-pages";
@import "about";
